.form-password-wrapper {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: 1px solid rgba(216, 224, 240, 1);
    border-radius: 14px;
    background: #fff;
}

.form-input__field--password {
    border: none;
    width: 100%;
    box-sizing: border-box;
    border-radius: 14px;
    padding: 10px 0;
    padding-left: 16px;

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.form-input__field--password::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}


.password-toggle {
    background: transparent;
    border: none;
    padding: 0 10px;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(125, 133, 146, 1);
}

.password-toggle:hover {
    color: rgb(85, 91, 100);
}

.password-toggle:active {
    color: rgb(46, 48, 52);
}

.form-password__title {
    font-weight: 700;
    font-size: 14px;
    color: rgba(125, 133, 146, 1);
    padding-left: 6px;
    margin-top: 14px;
}

.registration-form__submit-button {
    cursor: pointer;
    width: 30%;
    background-color: rgba(25, 79, 154, 1);
    border-radius: 14px;
    padding: 10px 0;
    border: none;
    
    font-size: 16px;
    line-height: 100%;
    color: white;
}

.registration-form__submit-button:hover {
    background-color: rgba(20, 63, 123, 1);
}

.registration-form__submit-button:active {
    background-color: rgba(15, 47, 92, 1);
}