.create-work-shift-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 35vw;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.create-work-shift-modal-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 16px;
    text-align: center;
}

.create-work-shift-modal-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.create-work-shift-modal-label {
    font-weight: 600;
    font-size: 16px;
}

.create-work-shift-modal-input {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.create-work-shift-modal-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.create-work-shift-modal-button {
    padding: 10px 16px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    color: white;
}

.create-work-shift-modal-button--create {
    background-color: rgba(0, 128, 0, 0.8);
}
.create-work-shift-modal-button--create:hover {
    background-color: rgba(0, 128, 0, 1);
}
.create-work-shift-modal-button--create:active {
    background-color: rgba(0, 100, 0, 1);
}

.create-work-shift-modal-button--cancel {
    background-color: rgba(255, 0, 0, 0.8);
}
.create-work-shift-modal-button--cancel:hover {
    background-color: rgba(255, 0, 0, 1);
}
.create-work-shift-modal-button--cancel:active {
    background-color: rgba(200, 0, 0, 1);
}

.select-with-pagination {
    display: flex;
    gap: 5px;
    align-items: center;
}
.load-more-button {
    padding: 5px 10px;
    cursor: pointer;
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
}