.header {
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: center;
    background-color: rgba(128, 198, 235, 1);
}

.header-nav {
    padding: 20px 0 15px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid white;
}

.header-link {
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-style: Regular;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
.header-link:hover {
    opacity: 0.8;
}
.header-link:active {
    opacity: 0.6;
}

.header-link--active {
    text-decoration: underline;
}

.header-info {
    width: 100%;
    height: fit-content;
    padding: 10px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.header-info--work {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.header-info--work:hover {
    opacity: 0.8;
}

.header-info--work:active {
    opacity: 0.6;
}

.header-info--profile {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.header-info--profile:hover {
    opacity: 0.8;
}

.header-info--profile:active {
    opacity: 0.6;
}

.profile-name {
    height: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
